/****************************************
GENERAL
***************************************/

html {
  scroll-behavior: smooth;
}

/** COLORS **/
.tmo-pink-bg {
  background-color: #e20074;
}

.tmo-pink-text {
  color: #e20074;
}

.light-gray-bg {
  background-color: #f2f2f2;
}

.tmo-dark-pink-bg {
  background-color: #BA0060;
}

.btn-custom {
  color: #fff;
  background-color: #e20074;
}

.btn-custom:hover {
    background-color: #BA0060;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



/****************************************
SIDEBAR
***************************************/

.side-navbar-fixed {
  position: fixed;
}

.sidebar-brand-text {
  background-color: #000;
}

.sidebar-dark .sidebar-heading {
    color: #000;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem;
    border-top: 1px solid rgba(90, 90, 90,.2);
}

.sidebar-dark .nav-item .nav-link {
    color: #000; 
}

.sidebar-dark .nav-item .nav-link:focus, 
.sidebar-dark .nav-item .nav-link:hover {
  color: #000;
}

.sidebar .bitmoji {
  width: 22px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.sidebar-dark .bi-chevron-right {
  float: right;
}



/****************************************
MAIN CONTENT
***************************************/

#wrapper #content-wrapper #content {
    color: #000;
    background-color: #fff;
}

.team-member-name {
  margin-top: 50px;
  color: 
}

.card {
  min-height: 100%;
  border: none;
}

.card.shadow {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1) !important;
}

.card-header {
  background-color: #000;
}

/** PROGRESS BAR **/
.meter {
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: .35rem;
}

.meter span { 
    display: block;
    height: 100%;
}

.progress {
    border-radius: 0;
    animation: progressBar 2s ease-in-out; 
    -webkit-animation: progressBar 2s ease-in-out;
    -moz-animation: progressBar 2s ease-in-out;
    -o-animation: progressBar 2s ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
@-o-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}



/***************************************
MEDIA QUERIES
***************************************/

@media (min-width: 992px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }

  .grow:hover {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}

@media(min-width: 768px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }

  /* Icon Forward */
  .hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}

@media (max-width: 767.98px) {
  #wrapper #content-wrapper {
    margin-left: 104px;
  }

  .sidebar-brand-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .sidebar-dark .nav-item .nav-link .bi-chevron-right {
    display: none;
  }


}


















