/****************************************
GENERAL
***************************************/

html {
  scroll-behavior: smooth;
}

/** Colors **/
.tmo-pink-bg {
  background-color: #e20074;
}

.tmo-pink-text {
  color: #e20074;
}



/****************************************
SIDEBAR
***************************************/

.side-navbar-fixed {
  position: fixed;
  background-color: #f2f2f2;
}

.sidebar-brand-text {
  background-color: #000;
}

.sidebar-brand-text img {
    max-width: 70px;
}

.sidebar-dark .sidebar-heading {
    color: #000;
}

.sidebar-dark .nav-item .nav-link {
    color: #000;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem;
    border-top: 1px solid rgba(90, 90, 90,.2);
}

.sidebar-dark .nav-item .nav-link,
.sidebar-dark .nav-item .nav-link span {
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;  
}

.sidebar-dark .bi-chevron-right {
  float: right;
}
 
.sidebar-dark .nav-item .nav-link:hover {
    color: #000;
}
 
.sidebar-dark .nav-item .nav-link:hover span,
.sidebar-dark .nav-item .nav-link.active span {
   color: #e20074;
}



/****************************************
MAIN CONTENT
***************************************/

#wrapper #content-wrapper #content {
    color: #000;
    background-color: #fff;
}

.name-container {
  margin-top: 60px;
}

.bitmoji {
  width: 107px;
  border: 2px solid #000;
}

.card {
  min-height: 100%;
  border: none;
}

.card.shadow {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1) !important;
}

.card-header {
  background-color: #000;
}

.team-member-title {
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -ms-animation-delay: .1s;
  -o-animation-delay: .1s;
}

.profile-download-link {
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
  text-decoration: none !important;
}

.profile-download-link:hover,
.profile-download-link:focus,
.site-credit:hover,
.site-credit:focus {
  color: #e20074;
}
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background: rgba(226, 0, 116, 0.5);
}

/** Progress bar animation **/
.meter {
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: .35rem;
    background-color: #f2f2f2;
}

.meter span { 
    display: block;
    height: 100%;
}

.progress {
    border-radius: 0;
    animation: progressBar 2s ease-in-out; 
    -webkit-animation: progressBar 2s ease-in-out;
    -moz-animation: progressBar 2s ease-in-out;
    -o-animation: progressBar 2s ease-in-out;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -o-animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
@-o-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/***************************************
MEDIA QUERIES
***************************************/

@media (min-width: 992px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }
}

@media(min-width: 768px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }

  .sidebar-brand-text img {
    max-width: 150px;
}

  /** Hover Icon Forward **/
  .hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, 
  .hvr-icon-forward:focus .hvr-icon, 
  .hvr-icon-forward:active .hvr-icon,
  .sidebar-dark .nav-item .nav-link.active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  /* Icon Down */
  .hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-down .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-down:hover .hvr-icon, 
  .hvr-icon-down:focus .hvr-icon, 
  .hvr-icon-down:active .hvr-icon {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  @-webkit-keyframes hvr-icon-down {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
    75% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes hvr-icon-down {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
    75% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
}

@media (max-width: 767.98px) {
  #wrapper #content-wrapper {
    margin-left: 104px;
  }

  .sidebar-brand-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .sidebar-dark .nav-item .nav-link .bi-chevron-right {
    display: none;
  }


}


















