/***************************************
MEDIA QUERIES
***************************************/

@media (min-width: 992px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }

  .grow:hover {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}

@media(min-width: 768px) {
  #wrapper #content-wrapper {
    margin-left: 224px;
  }
}

@media (max-width: 767.98px) {
  #wrapper #content-wrapper {
    margin-left: 104px;
  }

  .sidebar-brand-text {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }
}